<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl templates by package.bat. -->
<!-- The target attribute controls path and file name only, id controls package naming. -->
<package id="libconfig_vc120" target="libconfig" version = "1.4.9.4" pathversion="1_4_9_4" platformtoolset="v120" />