<?xml version="1.0" encoding="utf-8"?>
<!-- These values are populated into the package.gsl template by package.bat. -->
<!-- The target attribute controls path and file name only, not package naming. -->
<!-- This model does not contemplate packages containing more than one platform toolkit. -->
<package target="libconfig" version = "1.4.9.2" pathversion="1_4_9_2" platformtoolkit="v120" />