<?xml version="1.0" encoding="utf-8"?>
<!-- The values in this file are populated into the package.nuspec.gsl template by package.bat. -->
<!-- The purpose of the template is to allow for easy version and platform context swtiching. -->
<!-- This model does not contemplate packages published containing more than one platform toolkit. -->
<!-- The target attribute controls path and file name only, all other settings must be edited directly in the template. -->
<package
  target="libconfig"
  version = "1.4.9.2"
  pathversion="1_4_9_2"
  platformtoolkit="v120"
/>